body
{
    margin: 0;
    background:white;
    font-family: sans-serif;
    height:100vh;
    display:flex;
    flex-direction: column;
}
*,*::before,*::after
{
    box-sizing: border-box;
}
span
{
   color:#FFAF30;
}
header h1
{
    color:#fff;
    text-transform:uppercase;
}
#staff-h1 h1{
    text-align: center;
}
.content
{
    flex:1 0 auto;
    margin-top:80px;
    padding:20px;
    height:100vh;
}
footer
{
    color:#FFAF30;
    text-align:center;
    margin-top:0;
    height:2vh;
    margin-bottom: 0;
}
footer>p
{
    background:#3F51B5;
    padding:1rem 0;
}


@media screen and (min-width: 800px)
{
  .content
  {
      flex:1 0 auto;
      margin-top:60px;
      padding:20px;
  }
  footer
  {
      color:#FFAF30;
      text-align:center;
      margin-top:0;
      height:2vh;
      margin-bottom: 0;
  }
  footer>p
  {
      background:#3F51B5;
      padding:5rem 0;
  }
  .container
  {
      width: 450px;
      margin: 30px auto;
  }
    
}