main {
       background-color:#fff;
  }
  main h2 {
    margin-top: 0px;
    padding-top: 20px;
  }
  
  #signup .form-cover {
    background: rgba(107, 101, 101, 0.3);
    width: 61%;
    margin: auto;
  }
  @media (min-width: 0px) and (max-width: 599px) {
    #signup .form-cover {
      width: 90%;
      margin: auto;
    }
  }
  @media (min-width: 600px) and (max-width: 900px) {
    #signup .form-cover {
      width: 80%;
    }
  }

  form {
    padding: 20px;
  }
  form .field {
    margin: 0px 0px 15px 0px;
  }
  form .field label {
    margin: 3px 0px 3px 0px;
    padding: 6px 6px 6px 0px;
    font-size: 1em;
    float: left;
  }
  form .field textarea.control-form {
    height: 12em;
    resize: vertical;
    line-height: 24px;
    padding-top: 30px;
  }
  form .field .control-form {
    border: none;
    float: left;
    height: 2.7em;
    width: 75%;
    border-radius: 3px;
    padding: 0px 6px 0px 6px;
    border-color: inherit;
    font-size: 0.8em;
  }
  form .field .submit-button {
    float: left;
    height: 2.7em;
    width: 75%;
    padding: 0px 0px 0px 0px;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 3px;
  }
  form .field a {
    color: white;
    margin-right: 30px;
  }
  form .field a:hover {
    color: #DFAC2C;
  }
  form .button-white {
    background-color: #052F60;
    color: white;
  }
  form .button-white:hover {
    background-color: #0d529d;
    color: white;
    -webkit-transition: 1s;
    transition: 1s;
  }
  form .button-primary {
    background-color: #052F60 !important;
    color: white;
    border: none;
  }
  form .button-primary:hover {
    background-color: #0d529d;
    -webkit-transition: 1s;
    transition: 1s;
  }
  form .button-cancel {
    background-color: #a1020c !important;
    color: white;
    border: none;
  }
  form .button-cancel:hover {
    background-color: #e00a1e !important;
    -webkit-transition: 1s;
    transition: 1s;
  }
  form fieldset {
    margin-bottom: 20px;
  }
  
  .blue-forms {
    background: #052F60;
  }
  .blue-forms label {
    color: white;
  }
  .blue-forms .control-form {
    background: white;
  }
  .blue-forms .control-form:focus {
    background: #d0d0d0;
  }
  
  .white-forms {
    background: #E1E1E1;
    border-radius: 2px;
  }
  .white-forms .field label {
    color: white;
    font-weight: bold;
  }
  .white-forms .field .control-form {
    background: white;
  }
  .white-forms .field .control-form:focus {
    background: #d0d0d0;
    color: black;
  }
  .white-forms .field button {
    background: #fafafa;
    color: #052F60;
  }
  .white-forms .field button:hover {
    background: #d0d0d0;
  }
  .white-forms .field:last-of-type {
    background: none;
    border: none;
  }
  
  @media (min-width: 0px) and (max-width: 599px) {
    form .field label, form .field .control-form, form .field .submit-button {
      float: none;
    }
  }
  @media (min-width: 600px) and (max-width: 900px) {
    form .field label, form .field .control-form, form .field .submit-button {
      float: none;
    }
  }
  /*Global classes*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.list-inline {
  display: inline;
}

.no-styling {
  list-style: none;
  padding-left: 0px;
}

.white-text {
  color: white;
}

.danger-text {
  color: red;
}

.primary-text {
  color: #052F60;
}

.light-text {
  font-weight: 200;
}

.success-text {
  color: green;
}

.light-white-text {
  color: #e9e9e9;
}

.danger-text {
  color: red;
}

.small-text {
  font-size: 0.7em;
}

.primary-background {
  background-color: #052F60;
  color: white;
}
.primary-background:hover {
  background-color: #1862a4;
  -webkit-transition: 1s;
  transition: 1s;
}

.white-background {
  background: white;
}

.danger-background {
  background-color: red;
  color: white;
}
.danger-background:hover {
  background-color: #ac1b15;
  -webkit-transition: 1s;
  transition: 1s;
}

.underline {
  text-decoration: underline;
}

.link-button {
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-items-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-items-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-items-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-items-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-items-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/*grid css */
.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-1-6 {
  width: 16.66%;
}

.col-2-6 {
  width: 33.33%;
}

.col-3-6 {
  width: 50.00%;
}

.col-4-6 {
  width: 66.66%;
}

.col-5-6 {
  width: 83.33%;
}

.col-6-6 {
  width: 100%;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

[class*='col-'] {
  padding-right: 20px;
}

/*normal css */
html, body {
  margin: 0px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  overflow: none;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.active a {
  background-color: #DFAC2C;
  color: white;
}

main {
  min-height: 100%;
}

.main {
  padding-bottom: 3em;
}

footer {
  background-color: #052F60;
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
}
footer ul {
  padding-top: 14px;
}
footer li {
  margin-right: 15px;
  color: white;
}
footer li a {
  color: white;
}
footer li a:hover {
  color: #DFAC2C;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
footer li:last-of-type small {
  color: gray;
}

/*media queries*/
@media (min-width: 0px) and (max-width: 599px) {
  .container {
    width: 96%;
    margin: auto;
  }

  footer .container {
    width: 80%;
  }

  [class*='col-'] {
    padding-right: 0px;
  }

  .col-1-6-xs {
    width: 16.66% !important;
  }

  .col-2-6-xs {
    width: 33.33% !important;
  }

  .col-3-6-xs {
    width: 50.00% !important;
  }

  .col-4-6-xs {
    width: 66.66% !important;
  }

  .col-5-6-xs {
    width: 83.33% !important;
  }

  .col-6-6-xs {
    width: 100% !important;
  }

  .mt-2-xs {
    margin-top: 4px;
  }

  .mt-4-xs {
    margin-top: 8px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .col-1-6-md {
    width: 16.66% !important;
  }

  .col-2-6-md {
    width: 33.33% !important;
  }

  .col-3-6-md {
    width: 50.00% !important;
  }

  .col-4-6-md {
    width: 66.66% !important;
  }

  .col-5-6-md {
    width: 83.33% !important;
  }

  .col-6-6-md {
    width: 100% !important;
  }

  .mt-2-md {
    margin-top: 4px;
  }

  .mt-4-md {
    margin-top: 8px;
  }
}

  