 body
{
    margin: 0;
    background:#FFF;
    font-family: sans-serif;
    height:100%;
}
*,*::before,*::after
{
    box-sizing: border-box;
}
span
{
   color:#FFAF30;
}
header h1
{
    color:#fff;
    text-transform:uppercase;
}
#staff-h1 h1{
    text-align: center;
}
#main{
    overflow: auto;
    padding-bottom: 100px;
}
#footer{
    background-color:#3F51B5;
    position:relative;
    height:50px;
    margin-top:-60px;
    clear:both;
}

#footer p{
    text-align:center;
    padding-top:15px;
    color:white;
}

.userSection{
    margin-right:0px;
    margin-left:5px;
    height:100%;
    /* display:grid;
    grid-template-rows: 30% 70%;
    overflow: auto; */
}
.picture{
    margin-top:15%;
    height: 100%;
    margin-left:15%;
}

 .pic{
    width:75%;
    height:10%;
    padding-left: 5%;
    padding-top: 10%;
}
.acctdetails{
    background: #3F51B5;
    margin-top:15px;
    margin-right: 10px;
    height: 10%;
    padding:2%;
}
.acctdetails p{
    font-size:22px;
}
.accounts{
    width: 80%;
    margin-left: 10%;
    top: 150px;
    text-align:center;
    color:#3F51B5;
    font-weight: bolder;
}
#name{
    display: none;
} 
#balance{
    font-size: 30px;
    color:#fff;
    margin-right: 50px;
    margin-top: 30px;
    text-align:center;
    width:100%;
}

.noAccount,.noTransaction{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    color: #FFAF30;
}

.dashUl{
    background: #3F51B5;
    height:55%;
    display:none;
}

.dashUl li{
    text-decoration: none;
    margin-top: 10px;
    padding:15px;
    text-align:center;
    color:white;
    list-style-type: none;
    margin-left: -15%;
    font-size: 14px;
}

button
{
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      border: 2px solid #FFAF30;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      cursor:pointer;
}
.btn-blue{
    display:none;
} 

 @media screen and (min-width: 1230px)
{
  footer
  {
      color:#FFAF30;
      text-align:center;
      margin-top:0;
      margin-bottom: 0;
  }
  footer>p
  {
      background:#3F51B5;
  }
  .container
  {
      width: 450px;
      margin: 30px auto;
  }
  .userSection
  {
     margin-top:80px;
    margin-right:0px;
    margin-left:5px; 
     height:100%;
    display:grid;
    grid-template-columns: 30% 70%;
    overflow: auto;
  }
  .picture
  {
    margin-top:-5.5%;
    height: 100%;

  }

.pic
  {
    width:300px;
    height:350px;
    padding-left: 50px;
     padding-top: 53px; 
   }
.acctdetails
  {
    background: #3F51B5;
    margin-top:30px;
    margin-right: 10px;
    height: 10%;
    display:grid;
    grid-template-columns: 60% 40%;
  }
  .acctdetails p{
      font-size:2rem;
      padding-bottom: 5%;
  }
#name
  {
    font-size: 30px;
    color:#fff;
    margin-left: 50px;
    margin-top: 8px;
    font-weight: bolder;
    display:block;
  }
#balance
  {
    color:#fff;
    margin-right: 50px;
    margin-top: 10px;
    font-weight: bolder;
  } 

  .dashcontent{
      width:100%;
      height:100%;
  }

.dashUl
  {
    background: #3F51B5;
    height:35%;
    display: block;
  }

    .dashUl li
  {
    text-decoration: none;
    margin-top: 10px;
    padding:15px;
    text-align:center;
    color:white;
    list-style-type: none;
    margin-left: -15%;
    font-size: 14px;
    font-weight:bolder;
  } 
     .accounts{
    width: 80%;
    margin-left: 10%;
    top: 150px;
    text-align:center;
    color:#3F51B5;
    font-weight: bolder;
   }
   .btn-blue{
    background: #fff;
    color:#3F51B5;
    font-weight:bold;
    margin-left: 35%;
    display:block;
    margin-top: 7%;
   }  
}

 @media only screen and (min-width:768px) and (max-width:890px)
{
    .picture{
        margin-top:3%;
     }

}

 @media only screen and (min-width:891px) and (max-width:901px)
{

    .picture{
        margin-top: 3%;
   }
    
  
}

@media only screen and (min-width:902px) and (max-width:1100px)
{
    .picture{
        margin-top:3%;
     }  
}

 @media only screen and (min-width:1101px) and (max-width:1229px)
{
    .picture{
        margin-top:3%;
    }
    

}
 @media only screen and (min-width:521px) and (max-width:568px)
{
    .picture{
        margin-top:3%;
     } 
}

 @media only screen and (min-width:569px) and (max-width:767px)
{

    .picture{
        margin-top:3%;
    }
}
 @media only screen and (min-width:400px) and (max-width:520px)
{ 
    .picture{
        margin-top:7%;
    }
}
@media only screen and (min-width:240px) and (max-width:369px)
{
    .picture{
        margin-top: 15%;
    }  
}
 @media only screen and (min-width:370px) and (max-width:399px)
{
    .picture{
        margin-top:12%;
     }
    
   
} 
