header
{
    background:#3F51B5;
    text-align:center;
    position:absolute;
    z-index:999;
    width:100%;
}
.logo a{
    color:white;
    text-decoration: none;
}
.accountlogo a{
    background: #3F51B5;
}
.nav-toggle
{
    display:none;
}
.nav-toggle-label
{
    position:absolute;
    top:0;
    left:0;
    margin-left: 1em;
    height:100%;
    display:flex;
    align-items:center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after
{
    display:block;
    background:#FFAF30;
    height:2px;
    width:2em;
    border-radius:2px;
    position :relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after
{
    content:'';
    position:absolute;
}
.nav-toggle-label span::before
{
    bottom:7px;
}
.nav-toggle-label span::after
{
    top:7px;
}
nav
{
    position:absolute;
    text-align:left;
    top:100%;
    left:0;
    background:#3F51B5;
    width:100%;
    transform: scale(1,0);
    transform-origin: top;
    transition:transform 400ms ease-in-out;
}
nav ul
{
    margin: 0;
    padding:0;
    list-style: none;
}
nav li
{
    margin-bottom:1em;
    margin-left:1em;
}
nav a
{
    color:white;
    text-decoration:none;
    font-size:1.2rem;
    text-transform:uppercase;
    opacity:0;
    transition:opacity 150ms ease-in-out;
}
nav a:hover
{
    color:#FFAF30;
}

.nav-toggle:checked~nav
{
    transform:scale(1,1);
}
.nav-toggle:checked ~nav a
{
    opacity:1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 1000px){
    .nav-toggle-label
    {
        display:none;
    }
    header
    {
        display:grid;
        grid-template-columns: 1fr 1fr minmax(600px,1fr) 1fr 1fr;
    }
    .logo
    {
        grid-column: 1 / span 2 ;
    }
    #staffNav{
       margin-right:20px;
    }
    nav
    {
        all: unset;
        grid-column:  3/span 3 ;
        display:flex;
        justify-content: flex-end;
        align-items:center;
        margin-right: 9em;
    }
    nav li
    {
        
        margin-bottom:0;
    }
    nav a
    {
        opacity: 1;
        position:relative;
        font-size:14px;
    }
    nav ul
    {
        display:flex;
        justify-content:flex-end;
        margin-left: 7.5em;
    }
    nav .dashPage::before{
        content:'';
        display:block;
        height: 5px;
        background:#FFAF30;
        position: absolute;
        bottom: -.75em;
        transform:scale(1,1);
        transition:transform ease-in-out 0ms;
    }
    nav a::before
    {
        content:'';
        display:block;
        height: 5px;
        background:#FFAF30;
        position:absolute;
        bottom: -.75em;
        left:0;
        right:0;
        transform:scale(0,1);
        transition:transform ease-in-out 250ms;
    }
    nav a:hover::before
    {
        transform:scale(1,1);
    }

}
